<div *ngIf="cartProducts$ | async; else noCart" class="cart-container">
    <div class="cart-item-details">
        <div *ngFor="let cartProduct of cartProducts$ | async" class="cart-item">
            <img class="" src='{{cartProduct.product.url}}'>
            <div class="cart-panel">
                <div class="product-item-detail">{{ cartProduct.product.name}}</div>
                <div class="product-item-detail"> {{ cartProduct.product.price}}€</div>
                <div class="product-item-detail">

                </div>
                <div class="product-item-detail">
                    <button (click)="removeCart(cartProduct.product.id)"
                        class="product-item-detail btn btn-primary">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-item"><b><i>Total Price</i>: {{ totalPrice }} €</b></div>
    </div>
    <!-- <div class="form-margin">
        <app-create-form (checkoutSuccess)="checkoutSuccess($event)"></app-create-form>
    </div> -->
</div>
<ng-template #noCart>
    <div class="empty-cart-message">
        Cart is Empty! Please, <a routerLink="/"> add product to cart</a>.
    </div>
</ng-template>