<div *ngIf="cartProducts$ | async;" class="cart-container">
    <div class="cart-item-details">
        <div *ngFor="let cartProduct of cartProducts$ | async" class="cart-item">
            <img class="" src='{{cartProduct.product.url}}'>
            <div class="cart-panel">
                <div class="product-item-detail">{{ cartProduct.product.name}}</div>
                <div class="product-item-detail"> {{ cartProduct.product.price}}€</div>
                <div class="product-item-detail">

                </div>
                <div class="product-item-detail">
                    <button (click)="removeCart(cartProduct.product.id)" mat-raised-button
                        color="primary">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-item"><b><i>Total Price</i>: {{ totalPrice }} €</b></div>
        <div class="cart-item"><button (click)="pay()" mat-raised-button color="primary">PAYMENT</button>
        </div>

    </div>

</div>