<div *ngIf="product" class="detail-container">

    <!-- <div fxLayout="column" fxLayoutAlign="space-between center"> -->
    <img class="product-image" src='{{ product.url}}'>
    <!-- </div> -->
    <div class="detail-item">
        <div class="product-item-detail product-title"><b>{{ product.name }}</b></div>
        <div class="product-item-detail">$ {{ product.price }}</div>
        <div class="product-item-detail">{{ product.description }}</div>

        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>select orders</mat-label>
                <mat-select formControlName="numOfProducts">

                    <mat-option *ngFor="let val of selectValues" [value]="val">{{val}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" [disabled]="productForm.invalid" mat-raised-button color="primary">Add to
                Cart</button>

        </form>

    </div>

</div>